* {
    /* includes all except margin in width, height. Way better than default */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "SF Pro Display", "Helvetica Neue", Georgia, "Times New Roman", Times, serif;
    background-image: url("../images/trivia_bg.jpg");
    background-repeat: repeat;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    margin: 0 0 2px 0;
    flex-direction: row;
    background-color: rgb(64, 64, 71);
    color: wheat;
    align-content: center;
}

header div {
    padding: 4px;
}

.main-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

section {
    background-color: white;
    border: 2px solid gray;
    margin: 0 6px 6px 6px;
    padding: 4px;
}

.section-header {
    background-color:rgba(21, 21, 75, 0.50);
    color: #ffffff;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    display: block;
    border: 1px solid yellowgreen;
    border-radius: 4px;
    font-size: 1.5em;
    margin: 6px 0 6px 0;
    color: blue;
    background-color: yellowgreen;
    padding: 6px;
    text-align: center;
}

.question-info {
    width: 70%;
}

.last-question-info {
    width: 30%;
}

.text-primary {
    color: white;
}

#currentQuestion {
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    color: black;
}

.answer-btn {
    display: block;
    border: 1px dashed skyblue;
    font-size: 1.5em;
    margin: 6px 0 6px 0;
    width: 100%;
    color: blue;
    background-color: color;
    padding: 4px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main-container {
        margin: 2px;
        flex-direction: column;
        justify-content: center;
    }

    section {
        margin: 0;
        margin-top: 6px;
    }
    
    .question-info {
        width: 100%;
    }
    
    .last-question-info {
        width: 100%;
        font-size: 2em;
    }
    
} 